@use "./variable" as *;     //Making the variables accessible

.button {
    display: block;
    width: 100px;
    background-color: $color-secondary;
    text-align: center;
    padding: 10px 20px;
    border-radius: 10px;
    color: $color-white;
}

.navigation {
    height: 10vh;
    background-color: $color-primary;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
        color: $color-white;
        font-size: 40px;
        font-family: $font-display;
    }
}

.intro {
    text-align: center;
    padding: 150px 0;

    .heading {
        color: $color-primary;
        font-size: 50px;
        padding: 5px 0;
    }

    .sub-heading {
        font-family: $font-display;
        font-size: 25px;
        margin: 20px 0;
    }

    .button {
        margin: 0 auto;
    }
}

.wave {
    fill-opacity: 1;
    fill: $color-primary;
    margin-bottom: -5px;
}

.contact-us-form {
    min-height: 22vh;
    width: 23.5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $color-primary-light;
    margin:auto;
    
    .contact-us-title {
        font-size: 17px;
        align-self: flex-start;
        margin-left: 3px;
    }

    .contact-us-input {
        align-self: flex-start;
        margin: 10px 10px;
        padding-bottom: 10px;
        padding-right: 10vh;
    }

    .secondbutton {
        display: inline;
        background-color: $color-black;
        text-align: center;
        margin-top: 7.5px;
        padding: 2% 25%;
        border-radius: 2.5px;
        color: $color-white;
        font-family: $font-body;
    }

}

.contact-us-help {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-white;
    margin-bottom: 10px;
    font-size: 28px;
    font-family: $font-display;
}

