@use "./variables" as *;

.navigation-bar {
    height: 10vh;
    //width: auto;
    padding: 50px 0px;     //Adds space around navbar
    margin-bottom: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .logo {
        font-size: 100px;
        font-family: $logo-font;
        margin-left: 10px;
    }
    
    .logo-image {
        max-width: auto;
        max-height: 100px;
    }
    
    .login-button {
        //position: absolute;
        text-decoration: none;
        justify-self: flex-end;
        margin-left: auto;              //Sets button to left of screen
        margin-right: 10px;             //Adds buffer so button is on screen
        padding: 15px 25px;
        border: 2px solid aqua;
        border-radius: 5px;
        background-color: $button-color-1;
        font-size: 20px;
        font-family: $button-font;
        //background-color: red;
    }
}

#heading-1 {
    font-size: 50px;
    text-wrap: wrap;
    text-align: center;
    margin: auto;
    max-width: 60vh;
    display: flex;
    justify-content: center;
    font-family: $heading-font;
    color: $heading-color-1;
}

#device-mockup {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    min-width: 60vh;
}

.page-description {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .page-description-text {
        text-align: center;
        text-wrap: wrap;
        font-size: 30px;
        font-family: $button-font;
        margin: auto;
        margin-bottom: 30px;
        max-width: 70vw;
    }

    #heading-2 {
        color: $heading-color-2;
    }

    #heading-3 {
        color: $heading-color-1;
    }

}

.button-2 {
    margin: auto;
    text-decoration: none;
    color: $button-text-color-1;
    padding: 15px 13vw;
    border-radius: 7px;
    background-color: $button-color-2;
    font-size: 30px;
    font-family: $button-font;
}

.page-contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;

    #page-contents-title {
        font-size: 40px;
        font-family: $heading-font;
        margin-top: 20px;
    }

    .page-contents-box {
        justify-content: center;
        align-self: center;
        margin: 10px 0;

        .page-contents-text {
            text-align: left;
            vertical-align: middle;
            display: inline-block;
            line-height: 40px;
            font-size: 28px;
            width: 400px;
            text-wrap: wrap;
            word-wrap: break-word;
        }

        .page-contents-image {
            vertical-align: middle;
        }
    }
}

.page-additional-information {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    background-color: $background-color-1;

    .page-additional-information-links {
        text-decoration: none;
        font-family: $heading-font;
        color: $button-text-color-2;
        font-size: 25px;
        margin: 20px 0;
    }
}