@use "./variables" as *;

.navigation-bar {
    height: 10vh;
    //width: auto;
    padding: 50px 0px;     //Adds space around navbar
    margin-bottom: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .logo {
        font-size: 100px;
        font-family: $logo-font;
        margin-left: 10px;
    }
    
    .logo-image {
        max-width: auto;
        max-height: 100px;
    }
    
    .login-button {
        //position: absolute;
        text-decoration: none;
        justify-self: flex-end;
        margin-left: auto;              //Sets button to left of screen
        margin-right: 10px;             //Adds buffer so button is on screen
        padding: 15px 25px;
        border: 2px solid aqua;
        border-radius: 5px;
        background-color: $button-color-1;
        font-size: 20px;
        font-family: $button-font;
        //background-color: red;
    }
}

#heading-1 {
    font-size: 50px;
    text-wrap: wrap;
    text-align: center;
    margin: auto;
    max-width: 60vh;
    display: flex;
    justify-content: center;
    font-family: $heading-font;
    color: $heading-color-1;
}

#device-mockup {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 40px;
    min-width: 60vh;
}