@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Righteous&family=Roboto&family=Madimi+One:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

//Font Variables

$logo-font: "Righteous" , "sans-serif";
$button-font: "Roboto" , "sans-serif;";
$heading-font: "Madimi One" , "sans-serif";

//Colour Variables

$button-color-1: rgb(255, 255, 208);
$button-color-2: #0E2052;
$button-text-color-1: #FFFFFF;
$heading-color-1: #42B0CB;
$heading-color-2: #0E2052;